img {
  width: 200px;
  height: 200px;
}

.platform {
  padding: 20px;
  background-color: #f8f8f8;
  position: relative;
  text-align: center;
}

.platform__wrapper {
  display: flex;
  padding: 20px;
}

.platform__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  text-align: center;
  width: 50%;

  p {
    font-size: 20px;
    padding-bottom: 30px;
    text-align: left;
  }
}

.platform__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50%;
}
