.about-me {
  height: 100vh;
  background-color: #ff5851;
  position: relative;
}

.about-me__wrapper {
  display: flex;
  height: 100%;
  padding: 20px;
}

.about-me__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  text-align: center;
  width: 50%;
}

.about-me__photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50%;
}

img {
  width: 250px;
  height: 300px;
}
