.role-suitability {
  padding: 30px;
  background-color: #f8f8f8;
  position: relative;
  display: flex;
  flex-direction: column;

  h2 {
    padding-top: 10px;
  }
}

.role-suitability__content {
  padding: 0 160px 0 160px;

  ul {
    padding-left: 20px;
  }

  li {
    padding-bottom: 25px;
    font-size: 18px;
  }
}
