.nav-bar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 0 15px 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 99;
  top: 0;

  a {
    text-decoration: none;
  }
}

.nav-bar__logo {
  color: black;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-bar__item {
  color: black;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
}
