@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-banner {
  background: -webkit-linear-gradient(
    left,
    #ff5851,
    #ff5851 50%,
    white 50%,
    white
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;

  h1 {
    animation-timing-function: ease-in;
    animation-name: example;
    animation-duration: 2s;
  }
}

.home-banner__next-section {
  padding-top: 140px;
  position: relative;
}
