.home-banner {
  background: -webkit-linear-gradient(
    left,
    #ff5851,
    #ff5851 50%,
    white 50%,
    white
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
